<div class="box">
    <div class="field">
        <div class="control">
            <button class="button is-primary" hx-post="/filter" hx-trigger="click" hx-target="#uploadedImage" hx-vals="{
                'filter': 'document.getElementById(\'scripto\').value',
                'imageData': 'document.getElementById(\'uploadedImage\').src'
            }">
                Apply Filter
            </button>
        </div>
    </div>
    <div class="field">
        <figure class="image is-4by3">
            <img id="uploadedImage" src="data:image/png;base64,${image}" alt="Filtered Image" />
        </figure>
    </div>
</div>

<div class="box">
    <div class="field">
        <label class="label" for="monaco-editor">Image Filter Script:</label>
        <div id="monaco-editor" style="height: 200px; border: 1px solid #ddd;"></div>
    </div>
</div>

<script>
    require.config({ paths: { 'vs': 'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.30.1/min/vs' } });
    require(['vs/editor/editor.main'], function () {
        monaco.editor.create(document.getElementById('monaco-editor'), {
            value: '',
            language: 'fsharp',
            theme: 'vs-dark'
        });
    });
</script>